<div class="log-table">
  <table class="table table-sm table-striped table-dark">
    <thead class= "bg-dark">
      <tr>
        <th class= "bg-dark"><%= sortable "printer_name", "Printer" %> </th>
        <th class= "bg-dark"><%= sortable "created_at", "TimeStamp" %> </th>
        <th class= "bg-dark"><%= sortable "file_name", "File Name" %> </th>
        <th class= "bg-dark"><%= sortable "filament_weight", "Filament Weight" %> </th>
        <th class= "bg-dark"><%= sortable "print_time", "Print Time" %> </th>
        <th class= "bg-dark"><%= sortable "cost" %> </th>
        <th class= "bg-dark"></th>
      </tr>
    </thead>
    <tbody>
      <%= render print_logs %>
    </tbody>
  </table>
</div>

<div class="title-container text-light">
  <h3>Cost of Successful Prints: $<%= number_with_precision total_cost(print_logs), :precision => 2 %></h3> 
  <div class="float-right m-2">
    <% if logged_in? %>
      <%= link_to 'Download Cost Config', download_config_path, class: "btn btn-default border rounded text-light" %>
      <div class="float-right m-1">
        <%= render 'partials/upload_config' %>
      </div>
    <%end%>
  </div>
</div>

